<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CUUTrackingToken</key>
	<string>aef7e026-54f1-4add-b2c3-6daecf016cdf</string>
	<key>CUUProjectID</key>
	<string>IOS19BSH</string>
</dict>
</plist>
