<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>150699536493-fmngecf21ata66pfn0h2ao33vmi9nl24.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.150699536493-fmngecf21ata66pfn0h2ao33vmi9nl24</string>
	<key>API_KEY</key>
	<string>AIzaSyBhrb8JL7fc5k5cmPl3En20HqyqiXyyjlI</string>
	<key>GCM_SENDER_ID</key>
	<string>150699536493</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bshg.dev.DataTrain</string>
	<key>PROJECT_ID</key>
	<string>datatrain-503a4</string>
	<key>STORAGE_BUCKET</key>
	<string>datatrain-503a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:150699536493:ios:551cad0004b54754be4f64</string>
	<key>DATABASE_URL</key>
	<string>https://datatrain-503a4.firebaseio.com</string>
</dict>
</plist>